<div class="messages js-messages">
  <div class="messages--content js-messages--content">
    <% messages.each do |message| %>
      <%= component('message', message: message) %>
    <% end %>
  </div>
</div>