<div class='auth-form'>
  <%= form_tag login_path, method: :post do %>
    <%= text_field_tag :username, '', class: 'auth-form--input', placeholder: 'Username', autofocus: true, required: true %>
    <%= submit_tag 'Login', class: 'auth-form--submit' %>
  <% end %>
</div>
